::-moz-selection {
	background: #FE57A1;
	color: #FFF;
}

::selection {
	background: #FE57A1;
	color: #FFF;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: #8A8DB7;
	background: #1B1B24;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

img {
	border: 0;
}

hr {
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.container {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 69em; /* ayy lmao */
}

.footer {
	background-color: #282936;
	padding: 2em 0;
	margin-top: 2em;
}

.footer-oreos {
	background-color: #111;
	padding: 2em 0;
	opacity: .6;
	transition: .2s opacity;
}

.footer-oreos:hover {
	opacity: 1;
}

.footer-oreos p {
	margin: 0;
}

.title {
	text-align: center;
	color: #FFF;
	margin: 10px 0;
	font-size: 2.6em;
	font-weight: 300;
}

.services-title {
	font-weight: 300;
	margin: 8px 12px;
}

a {
	color: #5d91df;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.services,
#psa,
noscript {
	position: relative;
	background-color: #282936;
	border: 1px solid #191921;
	border-radius: 6px;
	font-size: 1em;
	line-height: 1.5;
}

.services-container:after {
	content: "";
	display: table;
	clear: both;
}

.services {
	width: 49%;
	float: left;
}

.services:last-child {
	float: right;
}

#psa,
noscript {
	display: block;
	color: #FFF;
	background-color: #D83D42;
}

#psa {
	display: none;
}

#psa a {
	color: #FFF;
	text-decoration: underline;
}

#psa a:hover {
	color: #F5F7FA;
	text-decoration: none;
}

#psa,
noscript {
	padding: 1em;
	margin-bottom: 1em;
}

.service {
	position: relative;
	padding: 8px 12px;
}

.service:after {
	content: "";
	display: table;
	clear: both;
}

.service .name {
	float: left;
}

.pull-right,
.service .status {
	text-align: right;
	float: right;
}

.twitter-follow-button {
	margin-top: -3px;
}

/* Hide link when it is being replaced by the iframe and both are visible */
.twitter-follow-button + .twitter-follow-button {
	display: none;
}

.services .sep {
	border-top: 1px solid #191921;
}

.good {
	color: #4aa172;
}

.minor {
	color: #26C6DA;
}

.major {
	color: #FFC107;
}

#loader {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 5px;
	z-index: 999;
	pointer-events: none;
}

.spinner,
.error {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.error {
	text-align: center;
	display: none;
	height: 70px;
	font-size: 1.6em;
	line-height: 1.6em;
	color: #F6BB42;
}

.mmstats {
	background-color: #191921;
}

#js-refresh {
	color: #00AFED;
}

#cms-graph {
	height: 150px;
	margin-top: 34px;
}

.spinner {
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #FFF;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: stretch 1.2s infinite ease-in-out;
	animation: stretch 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@media screen and (max-width: 35em) {
	.title {
		font-size: 2em;
	}
	
	.container {
		width: 100%;
	}
	
	.pull-right,
	.services {
		float: none;
		width: 100%;
	}
	
	.pull-right,
	.footer-oreos,
	.footer {
		text-align: center;
	}
	
	.attribution {
		font-size: .8em;
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 25em) {
	.service .status {
		font-size: .9em;
	}
}

@media screen and (max-width: 22em) {
	.title {
		font-size: 1.7em;
	}
}

@-webkit-keyframes stretch {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretch {
	0%, 40%, 100% {
		transform: scaleY(0.4);
	} 20% {
		transform: scaleY(1.0);
	}
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #666;
}

[data-tooltip]:before {
	visibility: hidden;
	opacity: 0;
	font-size: .9em;
	content: attr(data-tooltip);
	overflow: hidden;
	white-space: pre;
	word-wrap: break-word;
	position: absolute;
	top: 0;
	left: 2%;
	width: 96%;
	background: rgba(27, 27, 36, .8);
	color: #FFF;
	text-align: left;
	padding: 8px;
	border-radius: 6px;
}

[data-tooltip]:hover:before {
	visibility: visible;
	opacity: 1;
	animation: .15s fade-in linear;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
