@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("fonts/InterVariable.woff2?v=4.0") format("woff2");
}

@font-face {
	font-family: fallback-inter;
	ascent-override: 90.20%;
	descent-override: 22.48%;
	line-gap-override: 0.00%;
	size-adjust: 107.40%;
	src: local("Arial");
}

html {
	box-sizing: border-box;
	scrollbar-gutter: stable;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

[hidden] {
	display: none;
}

body {
	margin: 0;
	color: #a0a3c5;
	background: #1b1b24;
	font-family: Inter, fallback-inter, system-ui, sans-serif;
	font-size: 16px;
	font-variant-numeric: tabular-nums;
	font-optical-sizing: auto;
}

img {
	border: 0;
}

hr {
	border: none;
	border-top: 1px solid rgb(255 255 255 / 40%);
}

.container {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 69em; /* ayy lmao */
}

header {
	margin: 2em 0;
	display: flex;
	justify-content: space-between;
}

header .title-contain {
	padding-left: 13px;
}

footer {
	padding: 12px;
}

footer p {
	margin: 0;
}

footer .community {
	font-size: 14px;
	color: #009688;
}

.title {
	display: inline;
	color: #fff;
	line-height: 1;
	font-size: 1.5em;
	font-weight: 700;
	margin-right: 0.5em;
}

.services-title {
	font-weight: 700;
	font-size: 1.2em;
	margin: 0;
	padding: 8px 12px;
	display: flex;
	justify-content: space-between;
}

#loader {
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	color: #ffc107;
}

a {
	color: #5d91df;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Header */
.steamdb {
	width: 100%;
	background-color: #000;
}

.steamdb-navbar {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.steamdb-navbar > li {
	flex-shrink: 0;
}

.steamdb-navbar > li > a {
	display: block;
	color: #fff;
	padding: 14px 12px;
	font-size: 14px;
}

.steamdb-navbar > .steamdb-brand > a {
	line-height: 0;
	padding: 9px 14px;
	padding-right: 0;
}

.steamdb-navbar > li > a:hover {
	color: #999;
}

.steamdb-brand svg {
	display: inline-block;
	vertical-align: text-top;
	fill: currentcolor;
}

.services,
#psa,
footer,
noscript {
	position: relative;
	border: 1px solid #282936;
	border-radius: 8px;
	font-size: 1em;
	line-height: 1.5;
}

.services-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: min-content min-content 1fr;
	gap: 20px 20px;
	margin-bottom: 30px;
}

.services-right {
	grid-row: 1 / 4;
	grid-column: 2;
}

.regions {
	display: grid;
	grid-template-columns: 50% 25% 25%;
	padding: 0 12px;
}

.regions:last-child {
	padding-bottom: 8px;
}

.regions-title {
	font-weight: 700;
	font-size: 1.2em;
	padding: 8px 12px;
	display: grid;
	grid-template-columns: 50% 25% 25%;
	position: sticky;
	top: 0;
	background: #1b1b24;
	z-index: 1;
}

.region-name {
	font-weight: 700;
	margin: 0 12px;
	margin-top: 8px;
	margin-bottom: 4px;
	border-bottom: 1px solid #282936;
}

.regions .muted {
	opacity: 0.5;
}

.regions .name > svg {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	vertical-align: middle;
}

.region-colo {
	font-family: monospace;
	font-size: 14px;
	text-transform: uppercase;
	color: #009688;
}

.regions span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

noscript {
	display: block;
}

#psa,
noscript {
	color: #fff;
	background-color: #1566b7;
	padding: 1em;
	margin-bottom: 1em;
}

#psa {
	margin-top: -1em;
}

#psa a {
	color: #fff;
	text-decoration: underline;
}

#psa a:hover {
	color: #f5f7fa;
	text-decoration: none;
}

#psa img {
	max-width: 100%;
}

.service {
	margin: 0 12px;
	padding: 8px 0;
	display: flex;
	justify-content: space-between;
}

.service .status {
	text-align: right;
}

.services .sep {
	border-bottom: 1px solid #282936;
}

.good {
	color: #4aa172;
}

.minor {
	color: #26c6da;
}

.major {
	color: #ffc107;
}

.status-changed {
	animation: status-changed 1s;
}

.chart {
	padding: 0;
	position: relative;
}

.chart canvas {
	display: block;
	height: 100px;
	width: 100%;
}

.chart .chart-label {
	position: absolute;
	bottom: 2px;
	left: 12px;
	font-size: 10px;
	transition: opacity 200ms;
	pointer-events: none;
}

.chart:hover .chart-label {
	opacity: 0;
}

.chart #js-pageviews-chart + .chart-label {
	bottom: unset;
	top: 2px;
}

@media screen and (max-width: 1200px) {
	.steamdb-navbar {
		overflow-x: scroll;
	}
}

@media screen and (max-width: 950px) {
	header {
		flex-direction: column;
		margin-top: 0;
	}

	header .title-contain {
		padding: 0;
	}

	.container {
		width: 100%;
	}

	.steamdb > .container {
		padding: 0;
		mask-image: linear-gradient(270deg, transparent, #000 40px);
	}

	.services-container {
		grid-template-columns: 100%;
		grid-template-rows: unset;
	}

	.services-right {
		grid-column: unset;
		grid-row: unset;
	}

	.title {
		display: block;
		margin-right: 0;
		margin-bottom: 4px;
	}
}

@media screen and (max-width: 600px) {
	.container {
		padding: 0;
	}

	header {
		margin: 0;
		margin-bottom: 1em;
		padding: 12px;
		background: #000;
		border-top: 1px solid #1b1b24;

		.title {
			margin-top: 0;
		}
	}

	footer {
		margin-left: 1em;
		margin-right: 1em;
	}

	#psa,
	.services {
		border: 0;
		border-radius: 0;
	}
}

@media screen and (max-width: 400px) {
	.service {
		font-size: 14px;
	}
}

@keyframes stretch {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
	}

	20% {
		transform: scaleY(1);
	}
}

@keyframes status-changed {
	from {
		background: #1566b7;
	}
}

.game-icon {
	vertical-align: sub;
	border-radius: 3px;
}

.minor::before,
.major::before {
	display: inline-block;
	content: "";
	width: 12px;
	height: 12px;
	margin-right: 2px;
	background: currentcolor;
}

.minor::before {
	border-radius: 50%;
}

.major::before {
	border-radius: 20%;
}
